body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #4a00e0, #8e2de2);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #fff;
    width: 90%;
    max-width: 450px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #4a00e0;
    font-size: 1.5rem;
}

label {
    font-size: 14px;
    margin-top: 15px;
    display: block;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

input:focus { border-color: #8e2de2; }

button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    background: linear-gradient(135deg, #4a00e0, #8e2de2);
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

.table-card {
    width: 95%;
    max-width: 700px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
}

th {
    background: #4a00e0;
    color: white;
}
