body {
    font-family: Arial;
    margin: 20px;
}

form, table {
    width: 100%;
    max-width: 450px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}
